<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">

    <title>Библиограф</title>


<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <link href="product.css" rel="stylesheet">
  </head>
  <body>


<div class="position-relative p-3 p-md-5 m-md-3 bg-light"  style=" height: 720px; border-radius: 10px">
  <div class="col-md-0 p-lg-5 mx-auto my-5 text-center">

    <h1 class="display-4 fw-normal" style="border-top-style: solid;border-top-width: 0px;margin-top: 100px;">Библиограф</h1>
    <p class="lead fw-normal">Способ получить информацию о нужных Вам авторах. Быстро и легко!</p>
    <div class="container p-md-5 m-md-5x">
      <div class="row">
        <div class="col-md-12">
          <form action="/author/search/" accept-charset="UTF-8" method="get">
            <div class="input-group">
              <input type="text" name="author_id" id="search" placeholder="Поиск по id авторов" class="form-control">
              <span class="input-group-btn">
                <input type="submit" name="commit" value="Поиск" class="btn btn-primary" data-disable-with="Search">
              </span>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="position-relative p-3 p-md-5 m-md-3 bg-secondary"  style="border-radius: 10px">
  <div class="col-md-7 p-lg-5 mx-auto my-5">
    <h2 class="display-5 text-center text-white ">Краткое описание</h2>
    <p class="lead fw-normal text-left text-white ">
      Данная программа собирает список публикаций автора по его идентификатору eLibrary и информацию о статьях.
      <br>В текущей версии сохраняется следующая информация:</br>
    <p class="lead fw-normal text-left text-white ">
            <br>Заголовок публикации (title),</br>
            <br>Список авторов (authors),</br>
            <br>Библиографическая информация (info),</br>
            <br>Ссылка на страницу публикации (link).</br>
  </div>
</div>


<div class="position-relative  p-3 p-md-5 m-md-3 text-center text-white bg-dark"  style="border-radius: 10px;">
  <div class="col-md-5 p-lg-5 mx-auto my-5">
    <h2 class="display-5">Наши контакты</h2>
    <p class="lead fw-normal">Контакты для связи по проекту.</p>
    <div class="center">

    			<p>
            <a class="link" href="https://github.com/Lfdd/Parser/">GitHub</a>
            <a class="link" href="https://vk.com/science_boy">Вконтакте</a>
            <a class="link" href="mailto:vladimirshitov98@gmail.com">Отправить Email</a>
          </p>


    		</div>
  </div>
</div>


  </body>
</html>
